.card-img {
    width: 100%;
    object-fit: cover;
    display: block;
    height: 18rem;
    object-position: center;
    object-fit: cover;
}

.movie-card{
    min-height: 486px;
}

.card-text{
    color:#6c757d !important;
}


.mc-gotomovie-button{
    color: #6c757d !important;
}