h1 {
    color: #F8F9FA;
    text-align: center;
}
.listitem {
    background-color: black !important;
    color: #F8F9FA;
}
.ProfileInfo {
    margin-left: auto;
    margin-right: auto;
}
.pv-button-row {
    text-align: center;
}
.profile-view-buttons {
    width: 150px;
    margin-right: 20px;
}


